
body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #298A0B;
}

.quem-somos {
    background-color: #1E8449;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #298A0B;
    color: white;
}

.bg-footer {
    background-color: black;
    color: white;
}